*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
  }
  .logotipo{
    width: 100px;
}
.titulo{
    text-align: center;
    font-size: 42px;
    color: white;
    font-weight: bold;
}
.centrar{
    align-items: center;
    text-align: center;
}
.titulo2{
    margin-top: 30px;
    font-size: 42px;
    color: white;
    font-weight: bold;
}
.parrafo{
    margin-right: 100px;
    color: white;
    font-size: 20;
}
.imagen{
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
}
.our-team{
    border-radius: 15px;
    text-align: center;
    padding: 20px 15px 30px;
    background: #fff;
    margin-top: px;
    margin-bottom: 30px;

}
.our-team .pic{
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    background: rgb(236, 142, 34);
    border-radius: 50%;
}
.pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.our-team .title{
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    margin: 0 0 7px 0;
}
.our-team .post{
    color: rgb(236, 142, 34);
    text-transform: capitalize;
    display: block;
    font-size: 15px;
    font-weight:bolder;
    margin-bottom: 15px;
}

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: rgb(33,37,41);;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(70, 137, 102);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: rgb(236, 142, 34);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
        text-align: center;
    }
    .parrafo{
        text-align: center;
        margin-right: 0px;
    }
    .titulo2{
        text-align: center;
    }
}